<div class="import" ng-controller="import_controller" ng-show="Content_active">
<h4>Importaciones pertenecientes a: {{client.name_desc}}</h4>

  <div class="search">
    <div class="row form-inline">
        <button class="btn search_btn search_date"><i class="glyphicon glyphicon-search"></i> Fecha </button>
          <input type="search" class="form-control search_box inp_date"  ng-model="impo_search_date" placeholder="Ingrese fecha: Ej. {{today | date:'dd/MM/yyyy'}}"/>



          <button class="btn search_btn search_op"><i class="glyphicon glyphicon-search"></i> N° Operación </button>
        <input type="search" class="form-control search_box inp_op"  ng-model="impo_search_op" placeholder="Escriba aquí la la operación a buscar"/>


      <button class="btn search_btn search_doc"><i class="glyphicon glyphicon-search"></i> Doc. Aduanero </button>
      <input type="search" class="form-control search_box inp_doc"  ng-model="impo_search_doc" placeholder="Escriba aquí el documento a buscar"/>
      <button class="btn  add_operation" ng-click="add_operation()"><i class="glyphicon glyphicon-plus"></i>Importación</button>
  </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-curved table-condensed table-hover">
      <thead>
        <tr>
          <th>Ref Clientes</th>
          <th>Ref LSL</th>
          <th>Mercader&iacute;a</th>
          <th>Transporte</th>
          <th>embarque origen</th>
          <th>arribo estimado</th>
          <th>Documento Aduanero</th>
          <th>Documento Aduanero DJAI</th>
          <th>Fecha arribo</th>
          <th>Fecha liberaci&oacute;n</th>
          <th>Factura LSL</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
          <tr ng-repeat="import in  filtered = operations_imp | filter : paginate | filter : impo_search_date | filter : impo_search_op | filter : impo_search_doc | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
          <td>{{ import.ref_client }}</td>
          <td>{{ import.ref_lsl }}</td>
          <td>{{ import.merchandise }}</td>
          <td>{{ import.transport }}</td>
          <td>{{ import.shipment_origin | date: 'dd-MM-yyyy' }}</td>
          <td>{{ import.estimated_arrival | date: 'dd-MM-yyyy' }}</td>
          <td>{{ import.custom_document }}</td>
          <td>{{ import.custom_document_djai }}</td>
          <td>{{ import.arrival_date | date: 'dd-MM-yyyy' }}</td>
          <td>{{ import.release_date | date: 'dd-MM-yyyy' }}</td>
          <td>{{ import.lsl_bill }}</td>
          <td><a tooltip="Editar" tooltip-placement="top" ng-click="modifyImport(import)" style="color:#000;cursor:pointer;"><i class="glyphicon glyphicon-edit"></i></a> <a ng-click="deleteImport(import)" style="color:red;cursor:pointer;" tooltip="Eliminar" tooltip-placement="top"><i class="glyphicon glyphicon-remove"></i></a></td>
        </tr>
      </tbody>
    </table>
    <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>

  </div>
</div>
