<div class="clients" ng-controller="clients_controller">
  <button class="btn btn-primary add_operation" ng-click="add_client()"><i class="glyphicon glyphicon-plus"></i>Agregar Usuario</button>
<div class="search">

  <input type="search" class="form-control"  ng-model="client_search" value="escriba aquí su busqueda"/>
  <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar </button>

</div>
<div class="table-responsive">
  <table class="table table-striped table-curved table-condensed table-hover">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Usuario</th>
        <th>Dirección</th>
        <th>Manager</th>
        <th>Teléfono</th>
        <th>Fax</th>
        <th>Web</th>
        <th>Cuit</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="client in clients | filter : paginate | filter : client_search">
        <td>{{ client.name }}</td>
        <td>{{ client.username }}</td>
        <td>{{ client.address }}</td>
        <td>{{ client.manager }}</td>
        <td>{{ client.tel }}</td>
        <td>{{ client.fax }}</td>
        <td>{{ client.web }}</td>
        <td>{{ client.cuit }}</td>
        <td><a tooltip="Editar" tooltip-placement="top" ng-click="modifyImport(import)" style="color:#000;cursor:pointer;"><i class="glyphicon glyphicon-edit"></i></a> <a ng-click="deleteImport(import)" style="color:red;cursor:pointer;" tooltip="Eliminar" tooltip-placement="top"><i class="glyphicon glyphicon-remove"></i></a></td>
      </tr>
      </tr>
    </tbody>
  </table>
  <uib-pagination class="pagination" total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm" previous-text="Anterior" next-text="Siguiente" first-text="Primer Hoja" last-text="Última hoja">
  </uib-pagination>
</div>
</div>
