<div ng-controller="cpanel_controller">
  <div id="cpanel_top" ng-show="cp_header_active">
    <h3>Panel de administración de clientes</h3>
    <form class="form-inline">
      <div class="form-group">
      <label>Seleccione Cliente: </label>
      <select id="select_client" ng-model="select_client" class="form-control header_controls" ng-change="reset_operation()">
        <option ng-repeat="client in clients" value="{{client.id}}">{{ client.name }}</option>
      </select>
        </div>
      <div class="form-group">
      <label>Seleccione operación: </label>
      <select id="select_operation" ng-model="select_operation" class="form-control header_controls">
        <option ng-repeat="op_type in operation_types" value="{{op_type.id}}">{{ op_type.desc }}</option>
      </select>
        <button class="btn btn-primary" ng-click="consultar()"><i class="glyphicon glyphicon-search"></i> Consultar </button>
      </div>

    </form>
  </div>
  <div id="cpanel_content" >
    <div ui-view="cp_content">
    </div>
  </div>
</div>
