<div class="clients" ng-controller="emails_controller">

  <div class="search">
    <div class="row form-inline">
        <button class="btn search_btn search_date"><i class="glyphicon glyphicon-search"></i> Empresa </button>
          <input type="search" class="form-control search_box inp_date"  ng-model="client_search" placeholder="Escriba aquí la empresa a buscar"/>



          <button class="btn search_btn search_op"><i class="glyphicon glyphicon-search"></i> Nom./Apellido </button>
        <input type="search" class="form-control search_box inp_op"  ng-model="client_search" placeholder="Escriba aquí el Nom./apellido a buscar"/>


      <button class="btn search_btn search_doc"><i class="glyphicon glyphicon-search"></i> Email </button>
      <input type="search" class="form-control search_box inp_doc"  ng-model="client_search" placeholder="Escriba aquí el email a buscar"/>
      <button class="btn  add_operation" ng-click="add_operation()"><i class="glyphicon glyphicon-plus"></i>E-Mail</button>
  </div>
  </div>
<div class="table-responsive">
  <table class="table table-striped table-curved table-condensed table-hover">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>E-mail</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="email in  filtered = emails| filter : paginate | filter : client_search| startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
        <td>{{ email.company_name }}</td>
        <td>{{ email.name }}</td>
        <td>{{ email.lastname }}</td>
        <td>{{ email.email }}</td>
        <td>
          <a data-toggle="tooltip" title="Enviar Mail" data-placement="top" ng-click="mail" href="mailto:{{email.email}}" style="color:#000;cursor:pointer;margin-right:5px;">
            <i class="glyphicon glyphicon-envelope"></i>
          </a>
          <a tooltip="Editar" tooltip-placement="top" ng-click="modifyEmail(email, $index)" style="color:#000;cursor:pointer;margin-right:5px;">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
           <a ng-click="deleteEmail(email, $index)" style="color:red;cursor:pointer;" tooltip="Eliminar" tooltip-placement="top" style="cursor:pointer;margin-right:5px;">
             <i class="glyphicon glyphicon-remove"></i>
           </a>
         </td>
      </tr>
      </tr>
    </tbody>
  </table>
  <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
</div>
</div>
