        <div class="export"  ng-controller="export_controller">
          <div class="search">
              <div class="row form-inline">
                  <button class="btn search_btn search_date"><i class="glyphicon glyphicon-search"></i> Fecha </button>
                    <input type="search" class="form-control search_box inp_date"  ng-model="expo_search_date" placeholder="Ingrese fecha: Ej. {{today | date:'dd/MM/yyyy'}}"/>



                    <button class="btn search_btn search_op"><i class="glyphicon glyphicon-search"></i> N° Operación </button>
                  <input type="search" class="form-control search_box inp_op"  ng-model="expo_search_op" placeholder="Escriba aquí la la operación a buscar"/>


                <button class="btn search_btn search_doc"><i class="glyphicon glyphicon-search"></i> Doc. Aduanero </button>
                <input type="search" class="form-control search_box inp_doc"  ng-model="expo_search_doc" placeholder="Escriba aquí el documento a buscar"/>

            </div>
          </div>
            <div class="table-responsive">
                <table class="table table-striped table-curved table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Ref Clientes</th>
                            <th>Ref LSL</th>
                            <th>Mercader&iacute;a</th>
                            <th>embarque</th>
                            <th>Documento Aduanero</th>
                            <th>Factura LSL</th>
                            <th>PDF</th>
                            <th>FCL</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="export in  filtered = operations_exp | filter : paginate | filter : expo_search_date | filter : expo_search_op | filter : expo_search_doc | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <td>{{ export.ref_client }}</td>
                            <td>{{ export.ref_lsl }}</td>
                            <td>{{ export.merchandise }}</td>
                            <td>{{ export.shipment }}</td>
                            <td>{{ export.custom_document }}</td>
                            <td>{{ export.lsl_bill }}</td>
                            <td><a download target="_self" href="{{export.file_pdf}}" ng-class="{disabled: !export.file_pdf}"><i class="glyphicon glyphicon-file"></i></a></td>
                            <td><a download target="_self" href="{{export.file_fcl}}" ng-class="{disabled: !export.file_fcl}"><i class="glyphicon glyphicon-file"></i></a></td>
                        </tr>
                    </tbody>
                </table>
      <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
            </div>
        </div>
