
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<div class="jumbotron text-center" style="box-shadow:0px 1px 7px 1px #2e2e2e;">
  
        <h3>Expo</h3>
        <p>{{ message }}</p>
  <a href="/clientes">Volver</a> 
</div>

<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-striped table-curved table-condensed table-hover" >
                <thead>
                  <tr>
                      <th class="col-lg-2">Ref Clientes</th>
                      <th>Ref LSL</th>
                      <th class="col-lg-1">Mercader&iacute;a</th> 
                      <th class="col-lg-1">Transporte</th> 
                      <th class="col-lg-1">embarque origen</th> 
                      <th class="col-lg-1">arribo estimado</th> 
                      <th class="col-lg-2">Documento Aduanero / DJAI</th>
                      <th class="col-lg-1">Fecha arribo</th> 
                      <th class="col-lg-1">Fecha liberaci&oacute;n</th> 
                      <th class="col-lg-2">Factura LSL</th> 
                  </tr>
              </thead>
             
              <tbody>
                <tr ng-repeat="x in names | filter : paginate">
                  <td>{{ x.Ref_Clientes }}</td>
                  <td>{{ x.Ref_LSL }}</td>
                  <td>{{ x.Mercaderia }}</td>
                  <td>{{ x.Transporte }}</td>
                  <td>{{ x.embarque_origen }}</td>
                  <td>{{ x.arribo_estimado }}</td>
                  <td>{{ x.Documento_Aduanero_DJAI }}</td>
                  <td>{{ x.Fecha_arribo }}</td>
                  <td>{{ x.Fecha_liberacion }}</td>
                  <td>{{ x.Factura_LSL }}</td>
                </tr>
              </tbody>  
            </table>
          <pagination total-items="totalItems" ng-model="currentPage"
          max-size="5" boundary-links="true"
          items-per-page="numPerPage" class="pagination-sm">
        </pagination>
        </div>
      </div>
    </div>
  </div>

