
    <div ng-controller="login_controller">
    <div class="container-fluid" style="margin:10% 20%;">
      <div class="row" >
        <div class="col-lg-12" >
          <form>
           <label>usuario: </label><input class="form-control" type="text" ng-model="username">
            {{usernameError}}<br>
           <label>Contraseña: </label><input class="form-control" type="password" ng-model="password">
            {{passwordError}}
            <br>
            {{loginError}}
            <button class="btn btn-primary" style="width:100%" ng-click="submit_login()">Entrar</button>
          </form>
        </div>
        </div>
      </div>
    </div>
