<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{actionTitle}}</h4>
</div>
<div class="modal-body">
  <form name="newuser" role="form" class="" ng-submit="create_import()" autocomplete="off">

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <span>referencia del cliente: </span>
        <input id="new_ref_client" type="text" class="form-control"  ng-model="operation_import.ref_client" placeholder="Ingrese la referencia de cliente" />
    </div>
  </div>
</div>


    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <span>Mercadería: </span>
          <input type="text" class="form-control" ng-model="operation_import.merchandise" placeholder="Ingrese la mercaderia a transportar" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
            <span>Transporte: </span>
            <input type="text" class="form-control" ng-model="operation_import.transport"  placeholder="Ingrese el método de transporte" />
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
            <span>Embarque origen: </span>
              <div class="input-group">
                <input class="date_day form-control" ng-model="operation_import.shipment_origin_day" type="number" id="date_day" min="1" max="31" placeholder="día">
                <input class="date_month form-control" ng-model="operation_import.shipment_origin_month" type="number" id="date_month" min="1" max="12" placeholder="mes">
                <input class="date_year form-control" ng-model="operation_import.shipment_origin_year" type="number" id="date_year" min="1970" placeholder="año">
              </div>
        </div>
      </div>
    </div>


<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
        <span>Arribo Estimado: </span>
        <div class="input-group">
          <input class="date_day form-control" ng-model="operation_import.estimated_arrival_day" type="number" id="date_day" min="1" max="31" placeholder="día">
          <input class="date_month form-control" ng-model="operation_import.estimated_arrival_month" type="number" id="date_month" min="1" max="12" placeholder="mes">
          <input class="date_year form-control" ng-model="operation_import.estimated_arrival_year" type="number" id="date_year" min="1970" placeholder="año">
        </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <span>Documento Aduanero: </span>
      <input type="text" class="form-control" ng-model="operation_import.custom_document" style="height: 30px; width:564px; border-radius: 0px;" placeholder="Ingrese la descripción del doc. aduanero" />
    </div>
  </div>
</div>


    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
            <span>Documento DJAI: </span>
            <input type="text" class="form-control" ng-model="operation_import.custom_document_djai" style="height: 30px; width:564px; border-radius: 0px;" placeholder="Ingrese la descripción del doc. DJAI"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
            <span>Fecha de Arribo: </span>
            <div class="input-group">
              <input class="date_day form-control" ng-model="operation_import.arrival_date_day" type="number" id="date_day" min="1" max="31" placeholder="día">
              <input class="date_month form-control" ng-model="operation_import.arrival_date_month" type="number" id="date_month" min="1" max="12" placeholder="mes">
              <input class="date_year form-control" ng-model="operation_import.arrival_date_year" type="number" id="date_year" min="1970" placeholder="año">
            </div>
        </div>
      </div>
    </div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
      <span>Fecha de liberación: </span>
      <div class="input-group">
        <input class="date_day form-control" ng-model="operation_import.release_date_day" type="number" id="date_day" min="1" max="31" placeholder="día">
        <input class="date_month form-control" ng-model="operation_import.release_date_month" type="number" id="date_month" min="1" max="12" placeholder="mes">
        <input class="date_year form-control" ng-model="operation_import.release_date_year" type="number" id="date_year" min="1970" placeholder="año">
      </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <div class="form-group">
        <span>Factura LSL: </span>
          <input type="text" class="form-control" ng-model="operation_import.lsl_bill" style="height: 30px; width:564px; border-radius: 0px;" placeholder="Ingrese el número de factura de LSL"/>
          <span class="PropertylabelText">Archivo: </span>
          <div class="btn btn-primary"  style="width:564px; border-radius: 0px;" ><input type="file" name="file" uploader-model="uploadFile.file"/>Selecciona un archivo</div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <input type="submit" style="width:200px" class="btn btn-primary" value="{{action}}">
      <button type="button" style="width:200px" class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
    </div>

  </form>
</div>
