<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{actionTitle}}</h4>
</div>
<div class="modal-body">
  <form name="newuser" role="form" class="" ng-submit="create_export()" autocomplete="off">


    <span>referencia del cliente: </span>
    <input id="new_ref_client" type="text" class="form-control" style="height: 30px; width:564px; border-radius: 0px;" ng-model="operation_export.ref_client" placeholder="Ingrese la referencia de cliente" />

    <span>Mercadería: </span>
    <input type="text" class="form-control" ng-model="operation_export.merchandise" style="height: 30px; width:564px; border-radius: 0px;" placeholder="Ingrese la mercaderia a transportar" />

    <span>Documento Aduanero: </span>
    <input type="text" class="form-control" ng-model="operation_export.custom_document" style="height: 30px; width:564px; border-radius: 0px;" placeholder="Ingrese la descripción del doc. aduanero" />

    <span>Embarque: </span>
<div class="input-group">
    <input type="text" class="form-control" style="height: 30px; width:526px; border-radius: 0px;" ng-model="operation_export.shipment" datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" is-open="datePicker.instances['shipment']" disabled current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" />
    <span class="input-group-btn">
        <button style="height: 30px;" type="button" class="btn btn-default" ng-click="datePicker.open($event, 'shipment')"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>

    <span>Factura LSL: </span>
    <input type="text" class="form-control" ng-model="operation_export.lsl_bill" style="height: 30px; width:564px; border-radius: 0px;" placeholder="Ingrese el número de factura de LSL"/>

    <div class="modal-footer">
      <input type="submit" style="width:200px" class="btn btn-primary" value="{{action}}">
      <button type="button" style="width:200px" class="btn btn-default" ng-click="$dismiss()">Cancelar</button>
    </div>

  </form>
</div>