<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{actionTitle}}</h4>
</div>
  <form name="newclient" role="form" ng-submit="create_client()" autocomplete="off">
<div class="modal-body" style="padding:2% 5% 1% 5%;">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
      <span>Nombre de la Empresa: </span>
      <input type="text" class="form-control" ng-model="client.name_desc" placeholder="Ingrese el nombre de la Empresa" />
    </div>
    </div>
  </div>
  <div class="row">
<div class="col-xs-12">
    <div class="form-group">
      <span>Dirección: </span>
      <input type="text" class="form-control" ng-model="client.address"  placeholder="Ingrese la Dirección" />
      </div>
</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
      <span>Encargado: </span>
      <input type="text" class="form-control" ng-model="client.manager"  placeholder="Ingrese el nombre del Encargado" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
      <span>Teléfono: </span>
      <input type="text" class="form-control" ng-model="client.tel" placeholder="Ingrese el Teléfono" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
      <span>Fax: </span>
      <input type="text" class="form-control" ng-model="client.fax"  placeholder="Ingrese el Fax" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
      <span>Web: </span>
      <input type="text" class="form-control" ng-model="client.web" placeholder="Ingrese la página web de la empresa" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
      <span>Logo: </span>
      <input type="text" class="form-control" ng-model="client.logo" placeholder="Ingrese el logo" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
      <span>Cuit: </span>
      <input type="text" class="form-control" ng-model="client.cuit" placeholder="Ingrese el cuit" />
    </div>
    </div>
  </div>
</div>

<div class="modal-footer" style="padding-right:5%;">
  <div class="row">
    <div class="col-xs-12">
      <input type="submit" style="width:200px" class="btn btn-primary" value="{{action}}">
      <button type="button" style="width:200px" class="btn btn-warning" ng-click="$dismiss()">Cancelar</button>
    </div>
  </div>
</div>

  </form>
</div>
