<div ng-controller="mylsl_controller">
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-2" style="background-color:#fff;height:100vh;border-right:1px #ddd solid;padding:0;">
    <img ng-src="{{client_logo_path}}" style="padding:5%;">
    <div style="margin-top:30%">
    <button class="btn btn-default" style="margin:0;width:100%;height:50px;border-radius:0;" ui-sref=".export"><i class="glyphicon glyphicon-export"></i>Exportaciones</button>
    <button class="btn btn-default" style="margin:0;width:100%;height:50px;border-radius:0;" ui-sref=".import"><i class="glyphicon glyphicon-import"></i>Importaciones</button>
    <button class="btn btn-default" style="margin:0;width:100%;height:50px;border-radius:0;">Seguimiento</button>
    <button class="btn btn-default" style="margin:0;width:100%;height:50px;border-radius:0;">Reintegros</button>
    <button class="btn btn-default" style="margin:0;width:100%;height:50px;border-radius:0;">Courrier imp</button>
    <button class="btn btn-default" ng-click="logout()" style="margin:0;width:100%;height:50px;border-radius:0;">Salir</button>
    </div>
      </div>
      <div class="col-lg-10" style="background-color:#ddd ;height:100vh;">
        
        <div ui-view="content"></div>
    </div>
  </div>
</div>
</div>





