<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>myLSL</title>
</head>

<body ng-app="mylsl">

    <div class="container" ng-controller="main_controller">
      <div class="importation" ng-controller="import_controller">
        <div ng-repeat="import in operations_imp">
          {{import.ref_client}}
        </div>
        </div>
            <div class="export" ng-controller="export_controller">
        <div ng-repeat="export in operations_exp">
          {{export.ref_client}}
        </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js" type="application/javascript"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="bower_components/angular/angular.min.js" type="application/javascript"></script>
    <script src="scripts/base.js" type="application/javascript"></script>
    <script src="scripts/main_controller.js" type="application/javascript"></script>
    <script src="scripts/import_controller.js" type="application/javascript"></script>
    <script src="scripts/export_controller.js" type="application/javascript"></script>
  
    <script>
    </script>

</body>

</html>