@import url("../fonts/roboto.css");

html, body {font-family: 'Roboto', sans-serif;}
.search {
    position: relative;
    margin-top:2%;
}

.search input {
height: 36px;
margin-bottom: 2%;
  border: 1px #ABABAB solid;
}
input[type=checkbox] {
	margin-right:1%;
}
#emails{
  list-style: none;
  font-size:1.1em;
}
.del_mail{
  vertical-align: middle;
  color: red;
  cursor:pointer;
  margin-left: 1%;
}
.search .btn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px 0px;
    height: 35px;
    width: 18.5%;
    border-radius:0px 4px 4px 0px;
    background-color:#337ab7;
  border:none;
  border-right: 1px #ABABAB solid;
  cursor: auto;
}
.search .btn:hover{
 background-color:#337ab7;
}
.search .btn:active{
  border:none;
}
.search .btn:focus{
  outline: none;
}

th {
  color:#fff;
  background:#337ab7;
  text-align: center;
  vertical-align: middle;

}
.add_mail{
  padding:0;
}


.table-curved {
   border-collapse: separate;
   border: solid #ccc 1px;
   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;

}

.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 6px 0;
}

.table {
  font-size:0.8em;
  text-align: center;
  vertical-align: middle;
    background-color:#fff;


}
.pagination{
    margin-left:40%;
}
.import, .export, .users, .clients {
  padding:2%;
  padding-bottom:5%;
}

.nav-tabs{
   background-color:#eee;
    color:#2e2e2e;
}
.nav-tabs li {
    border-top: 1px #ddd solid;
  border-right: 1px #ddd solid;
  border-radius: 5px 5px 0 0;
}

.glyphicon {
    font-size: 17px;
}

.list-item{
    border-top:1px #ddd solid;
    border-bottom:1px #ddd solid;
    padding:5%;
}
.menu a :hover {
background-color:#337ab7;
    color:#fff;
    transition: all 0.2s ease-in-out;
}

.menu{
    list-style:none;
    margin:0;
    padding:0;
}
.menu li{padding-left:15%;padding: 8.5%;}
.menu a{
    text-decoration:none;
    color:#2e2e2e;
    background-color:#fff;
    cursor:pointer;
}
.menu-left{
background-color:#fff;
    height:100vh;
    border-right:1px #ddd solid;
    padding:0;
}
.content{
    background-color:#ddd ;
    height:100vh;
    overflow-y:auto;
    text-align: center;
}
.footer{
    background-color:#2e2e2e;
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    text-align:center;
    padding:0.2%;
    z-index: 4;
}
.footer span{

    font-size:0.8vw;
    color:orange;
}

.menu li i{
    font-size:1.2vw;
    vertical-align: center;
}
.menu li span{
    margin-left:5%;
    font-size:1vw;
    vertical-align: center;
}

.error{
    color:red;
    font-size:0.8vw;
}
.back_link{
  cursor:pointer;
  float:left;
}
.item_active {
background-color:#337ab7;
    color:#fff;
    transition: all 0.2s ease-in-out;
}
#cpanel_top form{padding:5%;}

#cpanel_top .form-group{margin-right:5%;}
#cpanel_top label { font-size:1.2em; }
label{font-weight: 100;}

.add_operation{ margin-left:81.5%;width:18.5%;}
.add_operation i{padding-right:5%;}

.header_controls {}
.modal_input{
  width:564px;
  border-radius: 0px;
}
.modal-footer{padding:10px;}
