@import url("../fonts/roboto.css");

html, body {font-family: 'Trebuchet MS',sans-serif;color:#2e2e2e;}
.search {
    position: relative;
    margin-top:2%;
}
.client_logo_container img{
  max-width:12vw;
}
.search{
  margin-bottom:2%;
  text-align: left;
}
.search .row{
  margin-left:0;
}
.form-inline .search_box{
  border-radius: 0 5px 5px 0;
  width:0%;
  height:35px;
  transition:all .5s;

  opacity: 0;
  margin-left: -4px;
  margin-right:3%;
}
.form-inline .show_input{
  width:25%;
  opacity: 1;


}
a.disabled {
   pointer-events: none;
   cursor: default;
   opacity:0.5;
}
.search_btn{
  vertical-align: middle;
  width:12%;
  background-color:#cd6702;
  border-color: #cd6702;
  color:#fff;
  font-size:.9vw;
  cursor:auto;
  height:35px;
}
.search_btn_show_inp{
  border-radius: 5px 0px 0px 5px;
}
.search_btn:hover, .search_btn:active, .search_btn:focus{
  color:#fff;
}
input[type=checkbox] {
	margin-right:1%;
}
#emails{
  list-style: none;
  font-size:1.1em;
}
.del_mail{
  vertical-align: middle;
  color: red;
  cursor:pointer;
  margin-left: 1%;
}

.search .btn:hover{
 background-color:#cd6702;
}
.search .btn:active{
  border:none;
}
.search .btn:focus{
  outline: none;
}

th {
  color:#fff;
  background:#cd6702;
  text-align: center;
  vertical-align: middle;

}

.add_mail{
  padding:0;
}


.table-curved {
   border-collapse: separate;
   border: solid #ccc 1px;
   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;

}

.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.table-curved td a{
color:#2e2e2e;
cursor:pointer;
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 6px 0;
}

.table {
  font-size:0.8vw;
  text-align: center;
  vertical-align: middle;
    background-color:#fff;


}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
background-color:#cd6702;
border-color:#fff;
cursor:pointer;
}
.pagination > li > a, .pagination > li > span {
  cursor:pointer;
  color:#2e2e2e;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus{
  color:#2e2e2e;
}
.pagination{
    margin-left:40%;
}

.import, .export, .users, .clients {
  padding:2%;
  padding-bottom:5%;
}

.nav-tabs{
   background-color:#eee;
    color:#2e2e2e;
}
.nav-tabs li {
    border-top: 1px #ddd solid;
  border-right: 1px #ddd solid;
  border-radius: 5px 5px 0 0;
}

.glyphicon {
    font-size: 17px;
}
.glyphicon-search{
  font-size:.8vw;
}
.list-item{
    border-top:1px #ddd solid;
    border-bottom:1px #ddd solid;
    padding:5%;
}
.menu a :hover {
    background-color:#cd6702;
    color:#fff;
    transition: all 0.2s ease-in-out;
}

.menu{
    list-style:none;
    margin:0;
    padding:0;
}
.menu li{padding-left:15%;padding: 8.5%;}
.menu a{
    text-decoration:none;
    color:#2e2e2e;
    background-color:#fff;
    cursor:pointer;
}
.menu-left{
background-color:#fff;
    height:100vh;
    border-right:1px #ddd solid;
    padding:0;
}
.content{
    background-color:#EBEBEB;
    height:100vh;
    overflow-y:auto;
    text-align: center;
}
.footer{
    background-color:#2e2e2e;
    position:absolute;
    bottom:0;
    width:100%;
    color:#fff;
    text-align:center;
    padding:0.2%;
    z-index: 4;
}
.footer span{

    font-size:0.8vw;
    color:orange;
}

.menu li i{
    font-size:1.2vw;
    vertical-align: center;
}
.menu li span{
    margin-left:5%;
    font-size:1vw;
    vertical-align: center;
}

.error{
    color:red;
    font-size:0.8vw;
}
.back_link{
  cursor:pointer;
  float:left;
}
.item_active {
background-color:#cd6702;
    color:#fff;
    transition: all 0.2s ease-in-out;
}
#cpanel_top form{padding:5%;}

#cpanel_top .form-group{margin-right:5%;}
#cpanel_top label { font-size:1.2em; }
label{font-weight: 100;}

.add_operation{float:right;margin-right:1.5%;background-color:#cd6702;border-color:#cd6702;color:#fff;font-size:.9vw;height:35px;}
.add_operation .glyphicon{font-size:.9vw;}
.add_operation:hover, .add_operation:active, .add_operation:focus{background-color:#cd6702;border-color:#cd6702;color:#fff;}
.add_operation i{padding-right:5%;}

.header_controls {}
.modal_input{
  width:564px;
  border-radius: 0px;
}
.modal-footer{padding:10px;}
.table-responsive{vertical-align: middle;}

.input-group > .date_day{
  width: 21%;
  border-right:1px dashed lightgray;

}
.input-group > .date_month{
  width: 21%;
  border-left: none;
  border-right: 1px dashed lightgray ;
}
.input-group > .date_year{
  width: 25%;
  border-left: none;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
 color:#fff;
  border: 1px solid #ccc;
  background-color:#3a9c95;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
